body {
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #fdfaf7;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, .section-title, .contact-main-title {
    font-family: 'Heebo', sans-serif; 
    font-weight: 700;
    color: #1a1a1a;
}
