body{
    background-color: rgb(150, 237, 228);
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 40px;
}

.section-container{
    max-width: 1000px;
    margin: 0 auto 80px auto;
}

.subtitle {
    margin-bottom: 30px;
    color: #555;
}

.success-grid{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.success-card {
    background-color: rgb(126, 160, 156);
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.10);

}