body {
    font-family: 'Assistant', sans-serif;
}

.main-wrapper {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding-top: 100px; 
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}    

.form-card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 45%;  
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.form-label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #444;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form-card {
        width: 60%; 
    }
}

@media (max-width: 768px) {
    .form-card {
        width: 80%;  
    }
}


@media (max-width: 480px) {
    .form-card {
        width: 95%; 
    }
}