:root {
    --color-primary-dark: #161E54;    
    --color-primary-blue: #22668D;    
    --color-accent-blue: #8ECDDD;     
    --color-background-cream: #FFFFEB; 
    --color-accent-orange: #e49708;    
}

body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    background-color: var(--color-background-cream);
}

.main-wrapper {
    background: linear-gradient(135deg, #f5f7fa 0%, var(--color-accent-blue) 100%);
    padding-top: 160px;      
    padding-bottom: 50px;
}

.form-card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 45%;  
    margin-left: auto;
    margin-right: auto;
    animation: fadeInUp 1.8s ease-out; 
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-primary-dark);
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.form-label {
    font-weight: 600;
    font-size: 0.9rem;
    color:black;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
}
.form-check{
    margin-bottom: 15px;
    
}
.submit-btn {
    width: 100%;
    padding: 12px;
    color:white;
    background: var(--color-accent-orange);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.form-request{
    color: red;
}

@media (max-width: 1024px) {
    .form-card {
        width: 60%; 
    }

    .site-header {
        flex-direction: column;
        padding: 15px 0;
    }

    .nav-list {
        justify-content: center;
        margin-top: 15px;
        gap: 15px;
        
    }

    .main-wrapper {
        padding-top: 180px;  
    }
    .title{
        font-size: 3vw !important;
    }
}

@media (max-width: 768px) {
    .form-card {
        width: 80%; 
    }
    .main-wrapper {
        padding-top: 30px; 
    }

   
}

@media (max-width: 480px) {
    .form-card {
        width: 95%; 
        padding: 20px; 
    }

    .title {
        font-size: 24px !important; /* שימוש בפיקסלים מבטל את ה-vw הבעייתי */
        margin-bottom: 20px;
        line-height: 1.3;
        }
}
