body {
    font-family: 'Assistant', sans-serif;
}

.main-wrapper {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding-top: 100px; 
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}    

.form-card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 45%;  
    animation: fadeInUp 1.8s ease-out; 
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

.form-label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #444;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form-card {
        width: 60%; 
    }
}

@media (max-width: 768px) {
    .form-card {
        width: 80%;  
    }
}


@media (max-width: 480px) {
    .form-card {
        width: 95%; 
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.site-header {
    display: flex;
    direction: rtl;
    background-color: rgb(193, 192, 205);
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
}


.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap:30px;
    margin: 30px;
}


.logo-img {
     height: 120px; 
}

.NameOfProject {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 20px;
}