
:root {
    --color-primary-dark: #161E54;
    --color-primary-blue: #22668D;
    --color-accent-blue: #8ECDDD;
    --color-background-cream: #FCFCF2;
    --color-accent-orange: #e49708;
    --color-accent-orangeina: #fadbc0;
    --color-darkmode-blue: rgb(37, 63, 97);


}

* {
    box-sizing: border-box; 
    margin:0;
    padding: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    background-color: var(--color-background-cream);
    color: var(--color-primary-dark);
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    font-size: 20px;
    padding-top: 0px;
    background: linear-gradient(135deg, #f5f7fa 0%, var(--color-accent-blue) 100%);
    min-height: 100vh;      
    display: flex;          
    flex-direction: column; 
}


.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

main {
    flex: 1; 
    width: 100%;
}

.page-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-title {
    font-size: 3em;           
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-bottom: 10px; 
    margin-top: 20px;          
    line-height: 1.1;  
     font-family: 'Assistant', sans-serif;       
}

.subtitle {
    font-size: 1.8em;
    font-weight: 700; 
    color: var(--color-primary-blue);
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}


.organizations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    padding-bottom: 50px;
}


.org-card {
    background: var(--color-background-cream);
    border: 1px solid #ddd;
    border-radius: 8px;
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 100%; 
    position: relative;
    overflow: visible;
}

.org-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 0px solid #eee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    

}

.org-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.org-content {
    padding: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto; 
    text-align: right;
}



.org-content h3 {
    margin-bottom: 2px; 
    color: var(--color-primary-dark);
    font-size: 1.5rem;
    font-weight: bold;
}

.org-content p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    color: #555;
    margin-bottom: 10px;
}


.volunteer-btn {
    background-color: var(--color-accent-orange);
    color: white;
    border: none;
    padding: 8px; 
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.volunteer-btn:hover {
    background-color: var(--color-primary-dark);
    transform: scale(1.05); 
    cursor: pointer;
}



.site-header {
    background: var(--color-background-cream);
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--color-primary-blue) solid;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0 0px;
    height: 60px;
    padding-left: 7px;
    padding-top: 1px;


}

.NameOfProject {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
}

.logo {
    font-size: 21.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--color-primary-blue);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 7px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-right: 0px;
    padding-left: 20px;
    
}

.nav-list a {
    text-decoration: none;
    color: var(--color-primary-blue);
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}


.nav-list a i {
    display: none;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--color-primary-blue);
}


.dark-mode-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dark-mode-btn svg {
    color: var(--color-primary-blue);
}

body.dark-mode {
    background:var(--color-primary-dark);
    background-color: var(--color-primary-dark) !important;
    
}

body.dark-mode .site-header {
    background-color:  var(--color-darkmode-blue);
}

body.dark-mode .logo {
color: white;     
}


body.dark-mode .main-title
{
 color: white;      
}


body.dark-mode .org-card{
background-color: var(--color-darkmode-blue);
color: white;
}

body.dark-mode .org-content h3, 
body.dark-mode .org-content p {
    color: white !important;
}

body.dark-mode .org-card {
    border: 1px solid var(--color-darkmode-blue)
}



body.dark-mode .nav-list li a {
    color: white;
}

body.dark-mode .dark-mode-btn svg {
    color: white;
}


.custom-footer {
    background-color: var(--color-background-cream); 
    color: var(--color-primary-dark);
    padding: 5px 20px 0px; 
    border-top: 1px solid var(--color-primary-blue);
    width: 100%;
    font-size: 0.85rem;
    margin-top: 50px;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.footer-column { 
    flex: 1; 
    min-width: 200px; 
}

.footer-heading { 
    color: var(--color-primary-blue); 
    margin-bottom: 0px; 
}

.footer-bottom { 
    text-align: center; 
    margin-top: 5px; 
    padding-top: 5px; 
    padding-bottom: 2px;
    margin-bottom: 0;
    border-top: 1px solid rgba(22, 30, 84, 0.1); 

}

.footer-bottom p {
    margin-bottom: 0;   
    margin-top: 0;       
    line-height: 1.2;    
}



body.dark-mode .custom-footer {
    background-color:var( --color-darkmode-blue);;
    color: var(--white);
    border-top-color: var(--color-primary-blue) !important;
    color: white; 
}

body.dark-mode .footer-heading {
    color: var(--color-accent-blue);
}

body.dark-mode .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
}


@media (max-width: 1024px) {
    
    .container {
        max-width: 95%; 
    }

    .organizations-grid {
        gap: 15px; 
    }

    .main-title {
        font-size: 3.5em; 
    }

    .org-img-container {
        height: 180px; 
    }
}


@media (max-width: 768px) {
    
    .organizations-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .org-img-container {
        height: 260px; 
    }

    

    .main-title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    
    .org-card {
        height: auto; 
    }

    .site-header {
        flex-direction: row;
        justify-content: space-between;
        height: 55px;     
        padding: 0 10px;
    }

   
    .logo-img {
        height: 35px;
    }

    .logo {
        font-size: 16px;
        margin-right: 5px;
    }

    .NameOfProject {
        width: auto;
        margin-bottom: 0;
       
    }

  
    .nav-list {
        gap: 10px;
        margin: 0;
        padding-left: 0;
    }

    .nav-list a {
        font-size: 14px;
       
    }

   
    .dark-mode-btn {
        transform: scale(0.8);
        
    }



}


@media (max-width: 480px) {

    .organizations-grid {
        grid-template-columns: 1fr;
      
    }



    .main-title {
        margin-top: 10px;
        line-height: 1.2;
        font-size: 2.5rem;

    }

    .subtitle {
        font-size: 1.2em;
    }

    .org-img-container {
        height: 220px; 
    }
    

    .volunteer-btn {
        padding: 12px;
        font-size: 18px;
    }

    .org-content h3 {
        margin-top: 5px;

    }


     .hamburger {
       
        display: block!important;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2001;         
        position: fixed;        
        top: 15px;   
        left: 20px;           
        right: auto;                      
        background: none;       
        border: none;
        color: var(--color-primary-blue);
        padding: 0;
        line-height: 1;

    }

    .nav-list {
        display: none;         
        position: fixed;     
        top: 55px; 
        bottom: 0;
        left: 0 !important; 
        height: 100vh;    
        text-align: right;      
        width: 45%  !important; 
        max-width: 250px;        
        flex-direction: column;
        padding-top: 5px;     
        padding-right: 5px;
        z-index: 99; 
        margin-right: auto;
        background-color: var(--color-background-cream);
        border-top: 0px solid var(--color-primary-blue); 
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }




    .nav-list.showMenu {
        display: flex !important;
        padding-top: 5px;
        padding-right: 5px;
    }


    .nav-list li {
        margin-bottom: 10px;
    }

    .nav-list i {
        display: inline-block !important;
        margin-left: 14px;
        font-size: 1.2rem;
        color: var(--color-primary-blue);
        width: 25px;
        text-align: center;
    }


    .nav-list li a{
         font-size: 1.2rem;
         font-weight: 600;


    }


    body.dark-mode .nav-list{
        background-color: var(--color-darkmode-blue);
    }

    body.dark-mode .nav-list a{
        color: white !important;
    }


    body.dark-mode .dark-mode-btn svg {
        color: var(--color-primary-blue) !important;
    }

    body.dark-mode .nav-list li a {
        color: var(--color-primary-blue);
    }

}







