body {
    direction: rtl; 
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color:white;
    color: #333;
    font-family: 'Assistant', sans-serif;
}


#beggining { 
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
                      url('https://images.globes.co.il/images/NewGlobes/big_image_800/2019/F9849A6B17CDFCA053B13FA038BA269F_800x392.20190814T175815.jpg');
    background-size: cover;
    padding: 80px 0;
    padding-top: 130px;
} 

#welcome{
    text-align: center;
    padding: 20px;
}

.OpeningWelcome {
    font-size: 80px;
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.btn-primary,
.btn-secondary {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.6rem;   
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(74, 74, 202);
    color:white
}

.site-header {
    display: flex;
    direction: rtl;
    background-color: rgb(193, 192, 205);
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    
}

.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap:30px;
    margin: 30px;
}

.about-div {
    display: grid;
    grid-template-columns:2fr 1fr; 
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }


.process-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.process-item {
    background: rgb(213, 224, 237);
    padding: 30px;
    border-radius: 8px;
    font-size: 30px;
    border-top: 4px solid #356bff;
}

#process-title{
    padding-right: 20px;
}

h3 {
    font-size: 40px;
    margin-right: 20px;
}

p{
    font-size: 30px;
    margin-right: 20px;
}

.openingParagraph{
    font-size: 30px;
}

.audiences {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    direction: rtl; 
}

.audience, .audience-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.audience-image img {
    width: 450px;
    display: block;
}
h1, h2, h3, .OpeningWelcome {
    font-family: 'Heebo', sans-serif; 
    font-weight: 700;
}

.logo-img {
     height: 120px; 
}

.NameOfProject {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 20px;
}