:root {
    --color-primary-dark: #161E54;
    --color-primary-blue: #22668D;
    --color-accent-blue: #8ECDDD;
    --color-background-cream: #FCFCF2;
    --color-accent-orange: #e49708;
    --color-accent-orangeina: #fadbc0;
    --color-darkmode-blue: rgb(37, 63, 97);
}

body {
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    background-color: var(--color-background-cream);
    color: var(--color-primary-dark);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-top: 0px;
    background: linear-gradient(135deg, #f5f7fa 0%, var(--color-accent-blue) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
title {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--color-primary-dark);
}

h2,
h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    color: var(--color-primary-dark);
}

.opportunities-header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-primary-dark);
}

.image-window {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.movable-img {
    width: 100%;
    height: auto;
    min-height: 450px;
    position: absolute;
    left: 0;
    top: -200px;
}

.main-title {
    font-size: 4em;
    font-weight: 800;
    color: var(--color-primary-dark);
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 1.1;
}

.subtitle {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--color-primary-blue);
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

.about-section {
    max-width: 90%;
    margin: 40px auto;
    color: var(--color-primary-dark);
    padding: 0 20px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 18px;
}

.opportunities-header {
    margin-top: 60px;
    margin-bottom: 40px;
}

.opportunities-header h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--color-primary-dark);
    margin-bottom: 0;
    line-height: 1.1;
    text-align: center;
}

.role-instruction {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-primary-blue);
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    box-sizing: border-box;

}

main {
    flex: 1;
    width: 100%;
}


.volunteer-card {
    display: grid;
    grid-template-columns: 35px 1fr;
    background: var(--color-background-cream);
    border: 1px solid var(--color-primary-blue);
    border-radius: 8px;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    width: 100%;

    overflow: visible;
    position: relative;
}

.volunteer-card-side {
    background-color: var(--color-primary-blue);
    display: flex;
    border-left: 1px solid var(--color-primary-blue);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.volunteer-card-content {
    padding: 20px;
    font-size: 18px;
    padding-right: 50px;
    font-size: 18px;


}

.volunteer-card-content h2 {
    margin-top: 0;
    color: var(--color-primary-dark);
    font-size: 28px;
    line-height: 2;
    word-spacing: 2px;
    margin-bottom: 15px;
    padding-top: 10px;
    font-weight: 700;
}

.volunteer-card-content ul {
    list-style: none;
    padding: 0;
    line-height: 1.8;
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
    color: var(--color-primary-blue);
    margin-top: 15px;
    margin-bottom: 20px;
}

.volunteer-btn {
    background-color: var(--color-accent-orange);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    float: left;
    display: inline-block;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    width: 260px;
    text-align: center;
    white-space: nowrap;



    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.volunteer-btn:hover {
    background-color: var(--color-primary-dark);
    transform: scale(1.2);
    z-index: 999;
}


.site-header {
    background: var(--color-background-cream);
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--color-primary-blue) solid;
    padding-left: 0px;
    padding-right: 0px;
}

.NameOfProject {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
}

.logo {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--color-primary-blue);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 20px;

}

.nav-list a {
    text-decoration: none;
    color: var(--color-primary-blue);
    font-weight: bold;
}


.nav-list a i {
    display: none;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--color-primary-blue);
}


.dark-mode-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dark-mode-btn svg {
    color: var(--color-primary-blue);
}


body.dark-mode {
    background:var(--color-primary-dark);
    background-color: var(--color-primary-dark) !important;
    
}


body.dark-mode .site-header {
    background-color:  var(--color-darkmode-blue);
}

body.dark-mode .logo {
color: white;     
}

body.dark-mode .main-title,
body.dark-mode #org-name{
 color: white;      
}

body.dark-mode .about-section{
 color: white; 

}
body.dark-mode .opportunities-header h2{
    color: white !important;
}


body.dark-mode .nav-list li a {
    color: white;
}

body.dark-mode .dark-mode-btn svg {
    color: white;
}

body.dark-mode .volunteer-card{
    background-color: var(--color-darkmode-blue);
     color: white;
}

body.dark-mode .volunteer-card-content h2,
body.dark-mode .volunteer-card-content .quote
{
     color: var(--color-accent-blue)
}




.custom-footer {
    background-color: var(--color-background-cream);
    color: var(--color-primary-dark);
    padding: 5px 20px 0px;
    border-top: 1px solid var(--color-primary-blue);
    width: 100%;
    font-size: 0.65rem;
    margin-top: 50px;
    text-align:right;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-heading {
    color: var(--color-primary-blue);
    margin-bottom: 0px;
    font-size: 1.2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 0;
    border-top: 1px solid rgba(22, 30, 84, 0.1);

}

.footer-bottom p {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}


body.dark-mode .custom-footer {
    background-color:var( --color-darkmode-blue);;
    color: var(--white);
    border-top-color: var(--color-primary-blue) !important;
    color: white; 
}

body.dark-mode .footer-heading {
    color: var(--color-accent-blue);
}

body.dark-mode .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
}




@media (max-width: 1024px) {
    .container {
        max-width: 95%;
        padding: 0 30px;
    }

    .image-window {
        height: 400px;
    }

    .main-title {
        font-size: 3em;
    }

    .opportunities-header h2 {
        font-size: 2.2em;
    }

    .volunteer-card {
        gap: 20px;
    }


}

@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }


    .image-window {
        height: 300px;
    }

    .movable-img {
        top: -50px;
        min-height: 300px;
    }

    .main-title {
        font-size: 2.5em;
    }

    .opportunities-header h2 {
        font-size: 2em;
    }

    .volunteer-card {
        grid-template-columns: 60px 1fr;
    }


    .volunteer-btn {
        width: auto;
        display: block;
        float: none;
        text-align: center;
        margin: 20px;
    }


    .site-header {
        flex-direction: row;
        justify-content: space-between;
        height: 55px;
        padding: 0 10px;
    }


    .logo-img {
        height: 30px;
    }

    .logo {
        font-size: 16px;
        margin-right: 5px;
    }

    .NameOfProject {
        width: auto;
        margin-bottom: 0;

    }


    .nav-list {
        gap: 10px;
        margin: 0;
        padding-left: 0;
    }

    .nav-list a {
        font-size: 14px;

    }


    .dark-mode-btn {
        transform: scale(0.8);

    }



}

@media (max-width: 480px) {
    .image-window {
        height: 250px;
    }

    .movable-img {
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: auto;

    }

    .main-title {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1em;
    }

    .volunteer-card {
        display: flex;
        flex-direction: column;
    }

    .volunteer-card-side {
        width: 100%;
        height: 40px;
        border-left: none;
        border-bottom: 1px solid var(--color-primary-blue);
    }

    .volunteer-card-content {
        padding: 15px;
    }

    .volunteer-card-content h2 {
        font-size: 20px;
    }

    .container,
    .about-section {
        max-width: 100%;
        padding: 0 15px;
    }

    .hamburger {
       
        display: block!important;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2001;         
        position: fixed;        
        top: 15px;   
        left: 20px;           
        right: auto;                      
        background: none;       
        border: none;
        color: var(--color-primary-blue);
        padding: 0;
        line-height: 1;

    }

    .nav-list {
        display: none;         
        position: fixed;     
        top: 55px; 
        left: 0 !important;           
        right: auto !important;     
        width: 60%  !important; 
        max-width: 250px;        
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px;     
        padding-right: 0px;
        padding-left: 0;
        z-index: 2000; 
        font-size: 18px;
        background-color: var(--color-background-cream);
        border-right: 1px solid var(--color-primary-blue); 
        border-left: none;
        box-shadow: 5px 0 15px rgba(0,0,0,0.3);
        align-items:  stretch;

        
    }




    .nav-list.showMenu {
        display: flex !important;
    }


    .nav-list li {
        width: 100%;
        text-align: right; 
        margin-bottom: 15px;
        padding-right: 15px;
    }

    .nav-list i {
        display: inline-block !important;
        margin-left: 15px;
        font-size: 1.4rem;
        color: var(--color-primary-blue);
        width: 25px;
        text-align: center;
    }


    body.dark-mode .nav-list{
        background-color: var(--color-darkmode-blue);
    }

    body.dark-mode .nav-list a{
        color: white !important;
    }


    body.dark-mode .dark-mode-btn svg {
        color: var(--color-primary-blue) !important;
    }

    body.dark-mode .nav-list li a {
        color: var(--color-primary-blue);
    }

}