body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
   
}


.image-window {
    width: 100%;
    height: 450px;       
    overflow: hidden;  
    position: relative;  
}

.movable-img {
    width: 100%;         
    height: auto;        
    min-height: 450px;   
    position: absolute;  
    left: 0;           
    top: -200px;     
}

.main-title {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 1.2em;
    color: #666;
    margin-top: 0;
}


.about-section {
   max-width: 90%;
    margin: 40px auto;
    color: #444;
    padding: 0 20px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}


.about-section p {
    line-height: 1.6;
    margin-bottom: 20px; 
}


